body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  font-size: 62.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.friends-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.4rem;
}
.friend-container {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  margin-bottom: 1rem;
  border-radius: 10px;
}
.name-box {
  border: 1px solid red;
  height: 3rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 10px 10px 0 0 ;
  background: #bb1333;
  color: white;
}
.age-box {
  border: 1px solid red;
  height: 3rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.email-box {
  border: 1px solid red;
  height: 3rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 0 0 10px 10px;
}